@slider-width: 12px;
@slider-border-width: 1px;

.side-menu {
    vertical-align: top;
    background-color: @menu-color;
    width: 250px;
    height: 100%;
    border-right: 1px solid;
    z-index: 1;

    &__split-bar {
        background-color: deepskyblue;
        border-left: @slider-border-width solid;
        width: @slider-width;
        cursor: col-resize;
        display: inline-block;
        height: 100%;

        &:hover {
            background-color: midnightblue;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;

        &__wrapper {
            display: inline-block;
            width: ~"calc(100% - @{slider-width} - @{slider-border-width})";
            vertical-align: top;
            overflow-x: hidden;
            overflow-y: auto;
            height: 100%;
        }

        &__list {
            height: auto;
            background-color: @menu-color;
            list-style-type: none;
            padding: 20px 0;
            margin: 0;

            &__group {
                &-closed {
                    .elements-list {
                        display: none;
                    }
                }

                &-opened {
                    .details {
                        border-bottom: 1px solid grey;
                    }

                    .elements-list {
                        display: block;
                    }
                }

                &:last-child {
                    .details {
                        border-bottom: 1px solid grey;
                    }
                    .elements-list {
                        border-bottom: 1px solid grey;
                    }
                }

                .details {
                    border-top: 1px solid grey;
                    padding: 10px;
                    min-width: 100px;

                    &:hover {
                        background-color: @menu-hover;
                    }
                }

                .element {
                    background-color: white;
                    width: 40px;
                    height: 40px;
                    border: 1px solid;
                    margin: 5px;
                    display: inline-block;
                    cursor: pointer;
                }
            }
        }
    }
}
