.side-menu {
    background-color: @menu-color;
    width: 200px;
    resize: both;
    height: 100%;
    display: block;
    border-right: 1px solid;
    border-top: 1px solid;
    position: fixed;
    left: 0;
    z-index: -1;

    //&__content {
    //    resize: horizontal;
    //    height: 100px;
    //    position: static;
    //    display: flex;
    //    width: 100px;
    //    overflow: auto;
    //    border: 1px solid black;
    //}
}

#split-bar {
    background-color: deepskyblue;
    border: 1px solid;
    float: right;
    width: 6px;
    cursor: col-resize;
    height: 100%;
}
