.main-menu-wrapper {
    background-color: @menu-color;
    width: 100%;
    display: inline-block;
    border: 1px solid;
    border-color: transparent transparent midnightblue transparent;
    top: 0;
    left: 0;
    position: fixed;
}

.scheme-title {
    margin-left: 10px;
    max-width: fit-content;
}

.scheme-title:hover {
    background-color: @menu-hover;
}

.main-menu {
    padding: 0 10px;
    margin: 5px 0;
    font-size: 15px;
    min-width: max-content;

    &__option-list {
        text-decoration-style: unset;
        display: inline-block;
    }

    &__option {
        margin: 0 5px;
        padding: 5px 4px;
    }

    &__option-list:hover {
        background-color: @menu-hover;
    }

    &__option-list:hover .suboptions {
        display: block;
    }
}

.suboptions {
    display: none;
    position: absolute;
    background-color: @menu-color;
    border: 1px solid;
    padding: 0;
    min-width: 200px;

    &__option {
        margin: 0;
        display: block;
        border-bottom: 1px solid black;
    }

    &__option:hover {
        background-color: @menu-hover;
    }

    &__option:last-child {
        border-bottom: none;
    }

    &__entry {
        padding: 3px 30px;
        display: inline-block;
    }

    &__name {
        text-align: left;
    }

    &__hotkey {
        text-align: left;
        color: aliceblue;
        float: right;
    }
}
