@import "components/main-menu/main-menu";
@import "components/side-menu/side-menu";
@import "components/board/board";
@import "components/element-details/element-details";
@import "components/action-panel/action-panel";
@import "components/file-input/file-input";
@import "components/fade-curtain/fade-curtain";
@import "components/progress-bar/progress-bar";
@import "components/loading-popup/loading-popup";
@import "components/spinner/spinner";
@menu-color: lightgrey;
@menu-hover: grey;

html, body, #root {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.drawing-area {
    height: 100%;
    display: flex;
    min-height: 0;
    flex: 1 1;
}
