@import "components/main-menu/main-menu";
@import "components/side-menu/side-menu";
@import "components/board/board";
@menu-color: lightgrey;
@menu-hover: grey;

html, body, #root {
    margin: 0;
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.drawing-area {
    height: 100%;
    display: flex;
    min-height: 0;
    min-width: 0;
    transform: translate3d(0,0,0);
    flex: 1 1;

    #board-container {
        background-color: beige;
        display: inline-block;
        width: 100%;
        overflow: auto;
        flex: 1 1;

        #test {
            width: 2000px;
            height: 2000px;
        }
    }
}
